:root {
  //colors---------------
  --white: hsl(0, 0%, 100%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  //font weight--------------------
  --light: 300;
  --regular: 400;
  --medium: 500;
  --medium2: 600;
  --bold: 700;

  //font family---------------------
  --fontFamily: "Manrope", sans-serif;
}